@model DYASProject.ViewModels.LoginVM
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<style>
    .login-container {
        width: 100%;
        max-width: 400px;
        padding: 2rem;
        color: #f1f1f1;
    }

    h2 {
        text-align: center;
        margin-bottom: 2rem;
        font-weight: bold;
    }

    .form-control {
        background-color: #3a3b3c;
        color: white;
        border: 1px solid #444;
        border-radius: 0.5rem;
        padding: 0.75rem;
        margin-bottom: 1rem;
    }

        .form-control:focus {
            border-color: #aad69f;
            box-shadow: none;
        }

    ::placeholder {
        color: #aaa;
    }

    .btn-login {
        width: 100%;
        background-color: #aad69f;
        color: white;
        padding: 0.75rem;
        border: none;
        border-radius: 0.5rem;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

        .btn-login:hover {
            background-color: #aad69f;
        }

    .alert-danger {
        margin-top: 1rem;
        border-radius: 0.5rem;
    }
</style>

<div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form asp-controller="Acceso" asp-action="Login" method="post">
        <input class="form-control" type="text" placeholder="Correo electrónico" asp-for="Email" required />
        <input class="form-control" type="password" placeholder="Contraseña" asp-for="Password" required />
        <button class="btn-login">Entrar</button>

        @if (ViewData["Mensaje"] != null)
        {
            <div class="alert alert-danger">@ViewData["Mensaje"]</div>
        }
    </form>
</div>
