@model DYASProject.ViewModels.LoginVM
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<style>
    ::placeholder {
        color: #ccc !important;
        opacity: 1;
    }

    input.form-control:focus {
        background-color: #3a3b3c;
        color: white;
        border-color: #198754;
        box-shadow: none;
    }

    .login-card {
        min-width: 400px; 
        margin: 40px auto; 
        border-radius: 0.5rem;
    }

</style>

<div class="card bg-dark text-white shadow login-card p-4">
    <div class="card-header border-bottom border-secondary">
        <h4 class="mb-0">Login</h4>
    </div>
    <div class="card-body">
        <form asp-controller="Acceso" asp-action="Login" method="post">
            <div class="mb-3">
                <input class="form-control bg-secondary text-white border-0"
                       type="text"
                       placeholder="Correo"
                       required
                       asp-for="Email" />
            </div>
            <div class="mb-3">
                <input class="form-control bg-secondary text-white border-0"
                       type="password"
                       placeholder="Contraseña"
                       required
                       asp-for="Password" />
            </div>
            <div class="d-grid gap-2 mb-3">
                <button class="btn btn-success">Iniciar sesión</button>
            </div>

            @if (ViewData["Mensaje"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData["Mensaje"]
                </div>
            }
        </form>

        
    </div>
</div>
